/* Style */
body{
    display: flex;
}

.container{
    display: flex;
    gap: 10px;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 100px 50px;
    margin: 8px;
}

.square{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    border: 8px solid gray;
}

.row{
    display: flex;
    flex: 1;
}

.cell{
    flex: 1;
    border: 1px solid black;
}

.active{
    background-color: black;
}